@model DeluxeOM.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row login_wrapper">
    @*<h2>@ViewBag.Title.</h2>*@
    <div class="row">
        <div class="col-xs-12 padd_zero"><h6 class="filter_heading">@ViewBag.Title</h6></div>
    </div>
    <hr />
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-12 padd_zero"><h6 class="filter_heading enter_email_heading">Enter your email</h6></div>
        </div>
        

        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
        <div class="email_wrapper">
            @Html.TextBoxFor(m => m.Email, new { @class = "email", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Email Link" class="btn btn-default btn_custom" />
            }
        </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
